<body>


	<!-- SIDEBAR -->
	<section id="sidebar">
		<a href="#" class="brand">
			<i class="bi bi-controller" style="margin-left: 30px;"></i>
        <span class="text" style="margin-left: 3px;">GameVault</span>
		</a>
		<ul class="side-menu top">
			<li class="active">
				<a href="#">
					<i class="bi bi-house-fill" style="margin-left: 30px;"></i>
					<span class="text" style="margin-left: 7px;">Dashboard</span>
				</a>
			</li>
			<li>
				<a href="#">
					<i class="bi bi-joystick" style="margin-left: 30px;"></i>
					<span class="text" style="margin-left: 7px;">Games</span>
				</a>
			</li>
			<li>
				<a href="#">
					<i class="bi bi-people-fill" style="margin-left: 30px;"></i>
					<span class="text" style="margin-left: 7px;">Usuarios</span>
				</a>
			</li>
			<li>
				<a href="./adminUTM-notificaciones">
					<i class='bx bxs-message-dots' ></i>
					<span class="text">Notificaciones</span>
				</a>
			</li>
			<li>
				<a href="#">
					<i class='bx bxs-group' ></i>
					<span class="text">Comunidad</span>
				</a>
			</li>
		</ul>
		<ul class="side-menu">
			<li>
				<a href="#" class="logout">
					<i class="bi bi-box-arrow-left" style="margin-left: 30px;"></i>
					<span class="text" style="margin-left: 7px;">Salir</span>
				</a>
			</li>
		</ul>
	</section>
	<!-- SIDEBAR -->


	<!-- CONTENT -->
	<section id="content">
		<!-- NAVBAR -->
		<nav>
			<i class="bi bi-list"></i>
			<a href="#" class="nav-link">Categories</a>
			<form action="#">
				<div class="form-input">
					<input type="search" placeholder="Search...">
					<button type="submit" class="search-btn"><i class="bi bi-search" style="margin-right: 3px;"></i></button>
				</div>
			</form>
			<input type="checkbox" id="switch-mode" hidden>
			<label for="switch-mode" class="switch-mode"></label>
			<a href="#" class="notification">
				<i class='bx bxs-bell' ></i>
				<span class="num">8</span>
			</a>
			<a href="#" class="profile">
				<img src="img/people.png">
			</a>
		</nav>
		<!-- NAVBAR -->

		<!-- MAIN -->
		<main>
			<div class="head-title">
				<div class="left">
					<h1>Dashboard</h1>
					<ul class="breadcrumb">
						<li>
							<a href="#">Dashboard</a>
						</li>
						<li><i class='bx bx-chevron-right' ></i></li>
						<li>
							<a class="active" href="#">Home</a>
						</li>
					</ul>
				</div>
			</div>

			<div class="table-data">
				<div class="order">
					<table>
						<thead>
							<tr>
								<th>Titulo Del Juego</th>
								<th>Descripcion</th>
								<th>Fecha de Actualizacion</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let games of games">
                                <td>{{ games.nombre }}</td>
                                <td>{{ games.descripcion }}</td>
                                <td>{{ games.fechaactualizacion }}</td>
                              </tr>
						</tbody>
					</table>
				</div>
				<div class="todo">
					<div class="head">
						<h3>User</h3>
						<i class='bx bx-plus' ></i>
						<i class='bx bx-filter' ></i>
					</div>
					<ul class="todo-list">
						<li class="completed" *ngFor="let gamers of gamers">
							<p>{{ gamers.nombre}}</p>
							<i class='bx bx-dots-vertical-rounded' ></i>
						</li>	
					</ul>
				</div>
			</div>
		</main>
		<!-- MAIN -->
	</section>
	<!-- CONTENT -->
	

	<script src="script.js"></script>
</body>