<body>
    <!-- SIDEBAR -->
    <section id="sidebar">
        <a href="#" class="brand">
            <i class="bi bi-controller" style="margin-left: 30px;"></i>
            <span class="text" style="margin-left: 10px;">GameVault</span>
        </a>
        <ul class="side-menu top" style="margin-top: 20px;">
            <li class="active">
                <a href="#">
                    <i class="bi bi-house-fill" style="margin-left: 30px;"></i>
                    <span class="text" style="margin-left: 7px;">Home</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="bi bi-download" style="margin-left: 30px;"></i>
                    <span class="text" style="margin-left: 7px;">Descargas</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="bi bi-joystick" style="margin-left: 30px;"></i>
                    <span class="text" style="margin-left: 7px;">Colecciones</span>
                </a>
            </li>


        </ul>
        <ul class="side-menu">
            <li>
                <a href="#" class="logout">
                    <i class="bi bi-box-arrow-left" style="margin-left: 30px;"></i>
                    <span class="text" style="margin-left: 7px;">Salir</span>
                </a>
            </li>
        </ul>
    </section>
    <!-- SIDEBAR -->


    <!-- CONTENT -->
    <section id="content">
        <!-- NAVBAR -->
        <nav>
            <i class="bi bi-ui-radios-grid" style="color: aliceblue;"></i>
            <a href="#" class="nav-link">Categories</a>

            <form action="#">
                <div class="form-input">
                    <input type="search" placeholder="Search...">
                    <button type="submit" class="search-btn"><i class="bi bi-search"
                            style="margin-right: 3px;"></i></button>
                </div>
            </form>
            <div style="color: aliceblue;">
                <h4>Hola Gamer!!</h4>
            </div>
        </nav>

        <!-- NAVBAR -->
    </section>
</body>