<nav class="navbar navbar-expand navbar-dark bg-dark px-2">
    <div class="side-nav-button p-2 me-3 text-light" (click)="SideNavToggled()">
        <i class="bi bi-list"></i>
    </div>
    <a class="navbar-brand px-4" href="#" routerLink="/home">Game Vault</a>
    <div class="collapse navbar-collapse"  >
        <ul class="navbar-nav me-auto mt-2 mt-lg-0">
            <li class="nav-item">
               
            </li>
            
        </ul>
    <form class="d-flex my-2 my-lg-0">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="margin-right:11px; "><a routerLink="/login">Acceder</a></button>
    <button  class="btn btn-outline-light my-2 my-sm-0" type="submit"><a routerLink="/registro">Registrarse</a></button> 
</form></div>  </nav>