<!--SIDEBAR-->
<body>
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
    crossorigin="anonymous"
  />

  <!-- CONTENT -->

  <!-- MAIN -->
  <main>
    <div class="table-data container col-md-6" style="margin-top: 50px">
      <form class="row shadow p-3 mb-5 bg-body-tertiary rounded" [formGroup]="form">


        <div class="col-6 me-auto" style="margin-top: 20px">
          <label for="nombre" class="form-label">Nombre</label>
          <input
            type="text"
            id="nombre"
            class="form-control"
            formControlName="nombre"
          />

          @if(form.controls['nombre'].hasError('required') &&
          form.controls['nombre'].touched ){
          <div class="alert alert-danger" role="alert">
            A simple danger alert—check it out!
          </div>
          }
          {{ form.controls["nombre"].errors | json }}
        </div>

        <div class="col-6 me-auto" style="margin-top: 20px">
          <label for="nombre" class="form-label">Apellido</label>
          <input
            type="text"
            id="apellido"
            class="form-control"
            formControlName="apellido"
          />

          @if(form.controls['apellido'].hasError('required') &&
          form.controls['apellido'].touched ){
            <div class="alert alert-danger" role="alert">
              A simple danger alert—check it out!
            </div>
          }
          {{ form.controls["nombre"].errors | json }}
        </div>

        <div class="col-6" style="margin-top: 20px">
          <label for="usuario" class="form-label">Usuario</label>
          <input
            type="text"
            id="usuario"
            class="form-control"
            formControlName="usuario"
          />

          @if(form.controls['usuario'].hasError('required') &&
          form.controls['usuario'].touched ){
          <div class="alert alert-danger" role="alert">
            A simple danger alert—check it out!
          </div>
          }
          {{ form.controls["usuario"].errors | json }}
        </div>

        <div class="col-6" style="margin-top: 20px">

          <label for="genero" class="form-label">Genero</label>

          <select class="form-control" id="genero" formControlName="genero">
            <option value="null"></option>
            <option value="f">femenino</option>
            <option value="m">masculino</option>
            <option value="o">otro</option>
          </select>

          @if(form.controls['genero'].hasError('required') &&
          form.controls['genero'].touched ){
            <div class="alert alert-danger" role="alert" style="margin-top: 5px;">
              A simple danger alert—check it out!
            </div>
          }
          {{ form.controls["genero"].errors | json }}
        </div>

        <div class="col-12" style="margin-top: 20px">
          <label for="correo" class="form-label"
            >Correo Electronico</label
          >
          <input
            type="text"
            id="correo"
            class="form-control"
            formControlName="correo"
          />

          @if(form.controls['correo'].hasError('required') &&
          form.controls['correo'].touched ){
            <div class="alert alert-danger" role="alert" style="margin-top: 5px;">
              A simple danger alert—check it out!
            </div>
          }
          {{ form.controls["correo"].errors | json }}
        </div>

        <div class="col-12" style="margin-top: 20px">
          <label for="contraseña" class="form-label">Contraseña</label>
          <input
            type="password"
            id="contraseña"
            class="form-control"
            formControlName="contraseña"
          />

          @if(form.controls['contraseña'].hasError('required') &&
          form.controls['contraseña'].touched ){
          <div class="alert alert-danger" role="alert">
            A simple danger alert—check it out!
          </div>
          }
          {{ form.controls["contraseña"].errors | json }}
        </div>

        <div class="col-12" style="margin-top: 30px">
          <button type="button" class="btn btn-success">Registrarse</button>
        </div>
      </form>
    </div>
  </main>
  <!-- MAIN -->

  <script src="script.js"></script>
</body>
