body{
	background-image: url(https://wallpapers.com/images/hd/ps4-background-i7glch3x5och6c87.jpg);
}
.text{
    color: #3C91E6;
     font-size: 25px;
}
.brand{
    text-decoration: none;
}
#content nav {
	height: 56px;
	background: #342E37;
	padding: 0 24px;
	display: flex;
	align-items: center;
	grid-gap: 24px;
	font-family: 'Lato', sans-serif;
	position: sticky;
	top: 0;
	left: 0;
	z-index: 1000;
}
#content nav::before {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	bottom: -40px;
	left: 0;
	border-radius: 50%;
	box-shadow: -20px -20px 0 #342E37;
}
#content nav a {
	color: rgb(21, 202, 226);
}

#content nav .nav-link {
	font-size: 16px;
	transition: .3s ease;
}
#content nav .nav-link:hover {
	color: #ffffff;
}
#content nav form {
	max-width: 400px;
	width: 100%;
	margin-right: auto;
}
#content nav form .form-input {
	display: flex;
	align-items: center;
	height: 36px;
}
#content nav form .form-input input {
	flex-grow: 1;
	padding: 0 16px;
	height: 100%;
	border: none;
	background: #070707;
	border-radius: 36px 0 0 36px;
	outline: none;
	width: 100%;
	color: var#FBFBFB;
}
#content nav form .form-input button {
	width: 36px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #0a77e4;
	color: #F9F9F9;
	font-size: 18px;
	border: none;
	outline: none;
	border-radius: 0 36px 36px 0;
	cursor: pointer;
}


#content nav .profile img {
	width: 36px;
	height: 36px;
	object-fit: cover;
	border-radius: 50%;
}



/*tarjetas*/

.container{
	display: flex;
	margin-top: 50px;
}

.card{
	margin-right: 60px;
}

.tarjetas{
	margin-left: 60px;
}


footer{
	
	width: auto;
	height: 334px;
	padding: 50px 0px;
	margin-top: 150px;
	flex-direction: column;
  }
  .container_footer{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: auto;
	margin: auto;
	margin-top: 0px;
  }
  .caja_contenedor{
	display: flex;
	flex-direction: column;
	padding: 40px;
	
  }
  .caja_contenedor .logo_contenedor img{
	width: 200px;
  }
  
  .caja_contenedor h2{
	margin-bottom: 30px;
	color: black;
	font-weight: 700;
	margin-right: 100px;
  }
  .caja_contenedor a{
	margin-top: 10px;
	color: black;
	font-weight: 600;
	text-decoration: none;
  }
  .caja_contenedor a:hover{
	opacity: 0.8;
  }
  .caja_compy_copyright{
	max-width: auto;
	margin: auto;
	text-align: center;
	padding: 0px 40px;
  }
  .caja_compy_copyright p{
	margin-top: 20px;
	color: grey;
  }
  .caja_compy_copyright hr{
	border: none;
	height: 1px;
	background-color: black;
  }
  