<body>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <!-- SIDEBAR -->
    <section id="sidebar">
        <a href="#" class="brand">
            <i class='bx bxs-dish'></i>
            <span class="text">GameVault</span>
        </a>
        <ul class="side-menu top">
            <li class="active">
                <a href="#">
                    <i class='bx bxs-dashboard'></i>
                    <span class="text">Home</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="bi bi-2-square-fill"></i> <!--revisar icono-->
                    <span class="text">Categorias</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-table'></i>
                    <span class="text">Descargas</span>
                </a>
            </li>
            <li>
                <a href="./adminUTM-notificaciones">
                    <i class='bx bxs-message-dots'></i>
                    <span class="text">Notificaciones</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class='bx bxs-group'></i>
                    <span class="text">Comunidad</span>
                </a>
            </li>
        </ul>
        <ul class="side-menu">
            <li>
                <a href="#" class="logout">
                    <i class='bx bx-log-out-circle'></i>
                    <span class="text">Salir</span>
                </a>
            </li>
        </ul>
    </section>
    <!-- SIDEBAR -->


    <!-- CONTENT -->
    <section id="content">
        <!-- NAVBAR -->
        <nav>
            <i class='bx bx-menu'></i>
            <a href="#" class="nav-link">Categories</a>
            <form action="#">
                <div class="form-input">
                    <input type="search" placeholder="Search...">
                    <button type="submit" class="search-btn"><i class='bx bx-search'></i></button>
                </div>
            </form>
            <input type="checkbox" id="switch-mode" hidden>
            <a href="#" class="profile">
                <p>¡Bienvenido, Juan!</p>
            </a>
        </nav><a href="http://"></a>

        <div class="titulo">
            <h1>GAME CATEGORIES</h1>
        </div>
        <br>
        <!-- Carrusel 1 -->
        <div class="titulo-tendencias1" style="margin-top: 20px;">
            <h1 style="text-align: center; color: white;">RESIDENT EVIL</h1>
        </div>
        <div class="corrusel1" style="margin-top: -70px;">
            <div id="carouselExampleCaptions" class="carousel slide" style="overflow: hidden;">
                <div class="carousel-inner d-flex justify-content-center"
                    style="display: flex; justify-content: center;">
                    <div class="carousel-item active">
                        <div class="carousel" style="margin-left: -456px;">
                            <div class="card mx-1" style="width: 220px; background-color: #0c0c1e"  *ngFor="let catalogo of catalogo">
                                <img src="{{catalogo.imagen}}"
                                    class="card-img-top" alt="...">
                                <div class="card-body" style="color: white ;">
                                    <h5>{{catalogo.nombre}}</h5>
                                    <p>Tamaño minimo:{{catalogo.minimo}} Tamaño maximo: {{catalogo.maximo}}</p>
                                    <p>Versió: {{catalogo.verion_}}</p>
                                    <button
                                        style="position: absolute; bottom: 15px; right: 5px; width: 25px; background-color: #0c0c1e; color: white; border: 1px solid white ;"><i
                                            class="bi bi-caret-right-fill"></i> </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="carousel" style="margin-left: -456px;">
                            <div class="card mx-1" style="width: 220px; background-color: #0c0c1e">
                                <img src="https://i.pinimg.com/564x/26/36/77/26367784fb85d7fa51cbc2522cdec170.jpg"
                                    class="card-img-top" alt="...">
                                <div class="card-body" style="color: white ;">
                                    <h5>Resident Evil 3</h5>
                                    <p>Tamaño: 17.8 GB</p>
                                    <p>Versió: elamigos</p>
                                    <button
                                        style="position: absolute; bottom: 15px; right: 5px; width: 25px; background-color: #0c0c1e; color: white; border: 1px solid white ;"><i
                                            class="bi bi-caret-right-fill"></i> </button>
                                </div>
                            </div>
                            <div class="card mx-1" style="width: 220px; background-color: #0c0c1e">
                                <img src="https://i.pinimg.com/564x/1a/24/b2/1a24b2440a7f055f3b607b5c5ecf2907.jpg"
                                    class="card-img-top" alt="..." style="width: 218.3px; height: 246px;">
                                <div class="card-body" style="color: white ;">
                                    <h5>Resident Evil 3</h5>
                                    <p>Tamaño: 17,8 GB</p>
                                    <p>Versió: elamigos</p>
                                    <button
                                        style="position: absolute; bottom: 15px; right: 5px; width: 25px; background-color: #0c0c1e; color: white; border: 1px solid white;"><i
                                            class="bi bi-caret-right-fill"></i></button>
                                </div>
                            </div>
                            <div class="card mx-1" style="width: 220px; background-color: #0c0c1e">
                                <img src="https://i.pinimg.com/564x/26/36/77/26367784fb85d7fa51cbc2522cdec170.jpg"
                                    class="card-img-top" alt="...">
                                <div class="card-body" style="color: white ;">
                                    <h5>Resident Evil 3</h5>
                                    <p>Tamaño: 17.8 GB</p>
                                    <p>Versió: elamigos</p>
                                    <button
                                        style="position: absolute; bottom: 15px; right: 5px; width: 25px; background-color: #0c0c1e; color: white; border: 1px solid white ;"><i
                                            class="bi bi-caret-right-fill"></i> </button>
                                </div>
                            </div>
                            <div class="card mx-1" style="width: 220px; background-color: #0c0c1e">
                                <img src="https://i.pinimg.com/564x/1a/24/b2/1a24b2440a7f055f3b607b5c5ecf2907.jpg"
                                    class="card-img-top" alt="..." style="width: 218.3px; height: 246px;">
                                <div class="card-body" style="color: white ;">
                                    <h5>Resident Evil 3</h5>
                                    <p>Tamaño: 17,8 GB</p>
                                    <p>Versió: elamigos</p>
                                    <button
                                        style="position: absolute; bottom: 15px; right: 5px; width: 25px; background-color: #0c0c1e; color: white; border: 1px solid white;"><i
                                            class="bi bi-caret-right-fill"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="carousel" style="margin-left: -456px;">
                            <div class="card mx-1" style="width: 220px; background-color: #0c0c1e">
                                <img src="https://i.pinimg.com/564x/26/36/77/26367784fb85d7fa51cbc2522cdec170.jpg"
                                    class="card-img-top" alt="...">
                                <div class="card-body" style="color: white ;">
                                    <h5>Resident Evil 3</h5>
                                    <p>Tamaño: 17.8 GB</p>
                                    <p>Versió: elamigos</p>
                                    <button
                                        style="position: absolute; bottom: 15px; right: 5px; width: 25px; background-color: #0c0c1e; color: white; border: 1px solid white ;"><i
                                            class="bi bi-caret-right-fill"></i> </button>
                                </div>
                            </div>
                            <div class="card mx-1" style="width: 220px; background-color: #0c0c1e">
                                <img src="https://i.pinimg.com/564x/1a/24/b2/1a24b2440a7f055f3b607b5c5ecf2907.jpg"
                                    class="card-img-top" alt="..." style="width: 218.3px; height: 246px;">
                                <div class="card-body" style="color: white ;">
                                    <h5>Resident Evil 3</h5>
                                    <p>Tamaño: 17,8 GB</p>
                                    <p>Versió: elamigos</p>
                                    <button
                                        style="position: absolute; bottom: 15px; right: 5px; width: 25px; background-color: #0c0c1e; color: white; border: 1px solid white;"><i
                                            class="bi bi-caret-right-fill"></i></button>
                                </div>
                            </div>
                            <div class="card mx-1" style="width: 220px; background-color: #0c0c1e">
                                <img src="https://i.pinimg.com/564x/26/36/77/26367784fb85d7fa51cbc2522cdec170.jpg"
                                    class="card-img-top" alt="...">
                                <div class="card-body" style="color: white ;">
                                    <h5>Resident Evil 3</h5>
                                    <p>Tamaño: 17.8 GB</p>
                                    <p>Versió: elamigos</p>
                                    <button
                                        style="position: absolute; bottom: 15px; right: 5px; width: 25px; background-color: #0c0c1e; color: white; border: 1px solid white ;"><i
                                            class="bi bi-caret-right-fill"></i> </button>
                                </div>
                            </div>
                            <div class="card mx-1" style="width: 220px; background-color: #0c0c1e">
                                <img src="https://i.pinimg.com/564x/1a/24/b2/1a24b2440a7f055f3b607b5c5ecf2907.jpg"
                                    class="card-img-top" alt="..." style="width: 218.3px; height: 246px;">
                                <div class="card-body" style="color: white ;">
                                    <h5>Resident Evil 3</h5>
                                    <p>Tamaño: 17,8 GB</p>
                                    <p>Versió: elamigos</p>
                                    <button
                                        style="position: absolute; bottom: 15px; right: 5px; width: 25px; background-color: #0c0c1e; color: white; border: 1px solid white;"><i
                                            class="bi bi-caret-right-fill"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Añade mas imagenes dentro de una tarjeta al carrusel -->
                </div>
                <!-- Controles de navegación -->
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <br>
        <!-- Carrusel 2 -->
        <div class="titulo-tendencias2" style="margin-top: 20px;">
            <h1 style="text-align: center; color: white;">BATMAN</h1>
        </div>
        <div class="corrusel2" style="margin-top: -70px;">
            <div id="carouselExampleCaptions2" class="carousel slide" style="overflow: hidden;">
                <div class="carousel-inner d-flex justify-content-center"
                    style="display: flex; justify-content: center;">
                    <div class="carousel-item active">
                        <div class="carousel" style="margin-left: -456px;">
                            <div class="card mx-1" style="width: 220px; background-color: #0c0c1e">
                                <img src="https://i.pinimg.com/564x/f2/2e/88/f22e88e9f98b363204e78d8c88661830.jpg"
                                    class="card-img-top" alt="..." style="max-width: 100%; height: 250px;">
                                <div class="card-body" style="color: white ;">
                                    <h5>Batman Arkham</h5>
                                    <p>Tamaño: 5.50 GB</p>
                                    <p>Versió: elamigos</p>
                                    <button
                                        style="position: absolute; bottom: 15px; right: 5px; width: 25px; background-color: #0c0c1e; color: white; border: 1px solid white ;"><i
                                            class="bi bi-caret-right-fill"></i> </button>
                                </div>
                            </div>
                            <div class="card mx-1" style="width: 220px; background-color: #0c0c1e">
                                <img src="https://i.pinimg.com/564x/09/76/de/0976de3959e97d88a07d799fae786864.jpg"
                                    class="card-img-top" alt="..." style="width: 218.3px; height: 246px;">
                                <div class="card-body" style="color: white ;">
                                    <h5>Batman Arkham</h5>
                                    <p>Tamaño: 5.50 GB</p>
                                    <p>Versió: elamigos</p>
                                    <button
                                        style="position: absolute; bottom: 15px; right: 5px; width: 25px; background-color: #0c0c1e; color: white; border: 1px solid white ;"><i
                                            class="bi bi-caret-right-fill"></i> </button>
                                </div>
                            </div>
                            <div class="card mx-1" style="width: 220px; background-color: #0c0c1e">
                                <img src="https://i.pinimg.com/564x/f2/2e/88/f22e88e9f98b363204e78d8c88661830.jpg"
                                    class="card-img-top" alt="..." style="max-width: 100%; height: 250px;">
                                <div class="card-body" style="color: white ;">
                                    <h5>Batman Arkham</h5>
                                    <p>Tamaño: 5.50 GB</p>
                                    <p>Versió: elamigos</p>
                                    <button
                                        style="position: absolute; bottom: 15px; right: 5px; width: 25px; background-color: #0c0c1e; color: white; border: 1px solid white ;"><i
                                            class="bi bi-caret-right-fill"></i> </button>
                                </div>
                            </div>
                            <div class="card mx-1" style="width: 220px; background-color: #0c0c1e">
                                <img src="https://i.pinimg.com/564x/09/76/de/0976de3959e97d88a07d799fae786864.jpg"
                                    class="card-img-top" alt="..." style="width: 218.3px; height: 246px;">
                                <div class="card-body" style="color: white ;">
                                    <h5>Batman Arkham</h5>
                                    <p>Tamaño: 5.50 GB</p>
                                    <p>Versió: elamigos</p>
                                    <button
                                        style="position: absolute; bottom: 15px; right: 5px; width: 25px; background-color: #0c0c1e; color: white; border: 1px solid white ;"><i
                                            class="bi bi-caret-right-fill"></i> </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="carousel" style="margin-left: -456px;">
                            <div class="card mx-1" style="width: 220px; background-color: #0c0c1e">
                                <img src="https://i.pinimg.com/564x/f2/2e/88/f22e88e9f98b363204e78d8c88661830.jpg"
                                    class="card-img-top" alt="..." style="max-width: 100%; height: 250px;">
                                <div class="card-body" style="color: white ;">
                                    <h5>Batman Arkham</h5>
                                    <p>Tamaño: 5.50 GB</p>
                                    <p>Versió: elamigos</p>
                                    <button
                                        style="position: absolute; bottom: 15px; right: 5px; width: 25px; background-color: #0c0c1e; color: white; border: 1px solid white ;"><i
                                            class="bi bi-caret-right-fill"></i> </button>
                                </div>
                            </div>
                            <div class="card mx-1" style="width: 220px; background-color: #0c0c1e">
                                <img src="https://i.pinimg.com/564x/09/76/de/0976de3959e97d88a07d799fae786864.jpg"
                                    class="card-img-top" alt="..." style="width: 218.3px; height: 246px;">
                                <div class="card-body" style="color: white ;">
                                    <h5>Batman Arkham</h5>
                                    <p>Tamaño: 5.50 GB</p>
                                    <p>Versió: elamigos</p>
                                    <button
                                        style="position: absolute; bottom: 15px; right: 5px; width: 25px; background-color: #0c0c1e; color: white; border: 1px solid white ;"><i
                                            class="bi bi-caret-right-fill"></i> </button>
                                </div>
                            </div>
                            <div class="card mx-1" style="width: 220px; background-color: #0c0c1e">
                                <img src="https://i.pinimg.com/564x/f2/2e/88/f22e88e9f98b363204e78d8c88661830.jpg"
                                    class="card-img-top" alt="..." style="max-width: 100%; height: 250px;">
                                <div class="card-body" style="color: white ;">
                                    <h5>Batman Arkham</h5>
                                    <p>Tamaño: 5.50 GB</p>
                                    <p>Versió: elamigos</p>
                                    <button
                                        style="position: absolute; bottom: 15px; right: 5px; width: 25px; background-color: #0c0c1e; color: white; border: 1px solid white ;"><i
                                            class="bi bi-caret-right-fill"></i> </button>
                                </div>
                            </div>
                            <div class="card mx-1" style="width: 220px; background-color: #0c0c1e">
                                <img src="https://i.pinimg.com/564x/09/76/de/0976de3959e97d88a07d799fae786864.jpg"
                                    class="card-img-top" alt="..." style="width: 218.3px; height: 246px;">
                                <div class="card-body" style="color: white ;">
                                    <h5>Batman Arkham</h5>
                                    <p>Tamaño: 5.50 GB</p>
                                    <p>Versió: elamigos</p>
                                    <button
                                        style="position: absolute; bottom: 15px; right: 5px; width: 25px; background-color: #0c0c1e; color: white; border: 1px solid white ;"><i
                                            class="bi bi-caret-right-fill"></i> </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="carousel" style="margin-left: -456px;">
                            <div class="card mx-1" style="width: 220px; background-color: #0c0c1e">
                                <img src="https://i.pinimg.com/564x/f2/2e/88/f22e88e9f98b363204e78d8c88661830.jpg"
                                    class="card-img-top" alt="..." style="max-width: 100%; height: 250px;">
                                <div class="card-body" style="color: white ;">
                                    <h5>Batman Arkham</h5>
                                    <p>Tamaño: 5.50 GB</p>
                                    <p>Versió: elamigos</p>
                                    <button
                                        style="position: absolute; bottom: 15px; right: 5px; width: 25px; background-color: #0c0c1e; color: white; border: 1px solid white ;"><i
                                            class="bi bi-caret-right-fill"></i> </button>
                                </div>
                            </div>
                            <div class="card mx-1" style="width: 220px; background-color: #0c0c1e">
                                <img src="https://i.pinimg.com/564x/09/76/de/0976de3959e97d88a07d799fae786864.jpg"
                                    class="card-img-top" alt="..." style="width: 218.3px; height: 246px;">
                                <div class="card-body" style="color: white ;">
                                    <h5>Batman Arkham</h5>
                                    <p>Tamaño: 5.50 GB</p>
                                    <p>Versió: elamigos</p>
                                    <button
                                        style="position: absolute; bottom: 15px; right: 5px; width: 25px; background-color: #0c0c1e; color: white; border: 1px solid white ;"><i
                                            class="bi bi-caret-right-fill"></i> </button>
                                </div>
                            </div>
                            <div class="card mx-1" style="width: 220px; background-color: #0c0c1e">
                                <img src="https://i.pinimg.com/564x/f2/2e/88/f22e88e9f98b363204e78d8c88661830.jpg"
                                    class="card-img-top" alt="..." style="max-width: 100%; height: 250px;">
                                <div class="card-body" style="color: white ;">
                                    <h5>Batman Arkham</h5>
                                    <p>Tamaño: 5.50 GB</p>
                                    <p>Versió: elamigos</p>
                                    <button
                                        style="position: absolute; bottom: 15px; right: 5px; width: 25px; background-color: #0c0c1e; color: white; border: 1px solid white ;"><i
                                            class="bi bi-caret-right-fill"></i> </button>
                                </div>
                            </div>
                            <div class="card mx-1" style="width: 220px; background-color: #0c0c1e">
                                <img src="https://i.pinimg.com/564x/09/76/de/0976de3959e97d88a07d799fae786864.jpg"
                                    class="card-img-top" alt="..." style="width: 218.3px; height: 246px;">
                                <div class="card-body" style="color: white ;">
                                    <h5>Batman Arkham</h5>
                                    <p>Tamaño: 5.50 GB</p>
                                    <p>Versió: elamigos</p>
                                    <button
                                        style="position: absolute; bottom: 15px; right: 5px; width: 25px; background-color: #0c0c1e; color: white; border: 1px solid white ;"><i
                                            class="bi bi-caret-right-fill"></i> </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Añade mas imagenes dentro de una tarjeta al carrusel -->
                </div>
                <!-- Controles de navegación -->
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions2"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions2"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <br>
        <!-- Carrusel 3 -->
        <div class="titulo-tendencias3" style="margin-top: 20px;">
            <h1 style="text-align: center; color: white;">AVENTURA</h1>
        </div>
        <div class="corrusel3" style="margin-top: -70px;">
            <div id="carouselExampleCaptions3" class="carousel slide" style="overflow: hidden;">
                <div class="carousel-inner d-flex justify-content-center"
                    style="display: flex; justify-content: center;">
                    <div class="carousel-item active">
                        <div class="carousel" style="margin-left: -456px;">
                            <div class="card mx-1" style="width: 220px; background-color: #0c0c1e">
                                <img src="https://i.pinimg.com/564x/06/8c/06/068c069665cb113bb39d95e308f90197.jpg"
                                    class="card-img-top" alt="..." style="max-width: 100%; height: 250px;">
                                <div class="card-body" style="color: white ;">
                                    <h5>Batman Arkham</h5>
                                    <p>Tamaño: 5.50 GB</p>
                                    <p>Versió: elamigos</p>
                                    <button
                                        style="position: absolute; bottom: 15px; right: 5px; width: 25px; background-color: #0c0c1e; color: white; border: 1px solid white ;"><i
                                            class="bi bi-caret-right-fill"></i> </button>
                                </div>
                            </div>
                            <div class="card mx-1" style="width: 220px; background-color: #0c0c1e">
                                <img src="https://i.pinimg.com/564x/09/e6/84/09e6849b2edd45c8807c455261c57ccb.jpg"
                                    class="card-img-top" alt="..." style="width: 218.3px; height: 246px;">
                                <div class="card-body" style="color: white ;">
                                    <h5>Batman Arkham</h5>
                                    <p>Tamaño: 5.50 GB</p>
                                    <p>Versió: elamigos</p>
                                    <button
                                        style="position: absolute; bottom: 15px; right: 5px; width: 25px; background-color: #0c0c1e; color: white; border: 1px solid white ;"><i
                                            class="bi bi-caret-right-fill"></i> </button>
                                </div>
                            </div>
                            <div class="card mx-1" style="width: 220px; background-color: #0c0c1e">
                                <img src="https://i.pinimg.com/564x/06/8c/06/068c069665cb113bb39d95e308f90197.jpg"
                                    class="card-img-top" alt="..." style="max-width: 100%; height: 250px;">
                                <div class="card-body" style="color: white ;">
                                    <h5>Batman Arkham</h5>
                                    <p>Tamaño: 5.50 GB</p>
                                    <p>Versió: elamigos</p>
                                    <button
                                        style="position: absolute; bottom: 15px; right: 5px; width: 25px; background-color: #0c0c1e; color: white; border: 1px solid white ;"><i
                                            class="bi bi-caret-right-fill"></i> </button>
                                </div>
                            </div>
                            <div class="card mx-1" style="width: 220px; background-color: #0c0c1e">
                                <img src="https://i.pinimg.com/564x/09/e6/84/09e6849b2edd45c8807c455261c57ccb.jpg"
                                    class="card-img-top" alt="..." style="width: 218.3px; height: 246px;">
                                <div class="card-body" style="color: white ;">
                                    <h5>Batman Arkham</h5>
                                    <p>Tamaño: 5.50 GB</p>
                                    <p>Versió: elamigos</p>
                                    <button
                                        style="position: absolute; bottom: 15px; right: 5px; width: 25px; background-color: #0c0c1e; color: white; border: 1px solid white ;"><i
                                            class="bi bi-caret-right-fill"></i> </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="carousel" style="margin-left: -456px;">
                            <div class="card mx-1" style="width: 220px; background-color: #0c0c1e">
                                <img src="https://i.pinimg.com/564x/f2/2e/88/f22e88e9f98b363204e78d8c88661830.jpg"
                                    class="card-img-top" alt="..." style="max-width: 100%; height: 250px;">
                                <div class="card-body" style="color: white ;">
                                    <h5>Batman Arkham</h5>
                                    <p>Tamaño: 5.50 GB</p>
                                    <p>Versió: elamigos</p>
                                    <button
                                        style="position: absolute; bottom: 15px; right: 5px; width: 25px; background-color: #0c0c1e; color: white; border: 1px solid white ;"><i
                                            class="bi bi-caret-right-fill"></i> </button>
                                </div>
                            </div>
                            <div class="card mx-1" style="width: 220px; background-color: #0c0c1e">
                                <img src="https://i.pinimg.com/564x/09/76/de/0976de3959e97d88a07d799fae786864.jpg"
                                    class="card-img-top" alt="..." style="width: 218.3px; height: 246px;">
                                <div class="card-body" style="color: white ;">
                                    <h5>Batman Arkham</h5>
                                    <p>Tamaño: 5.50 GB</p>
                                    <p>Versió: elamigos</p>
                                    <button
                                        style="position: absolute; bottom: 15px; right: 5px; width: 25px; background-color: #0c0c1e; color: white; border: 1px solid white ;"><i
                                            class="bi bi-caret-right-fill"></i> </button>
                                </div>
                            </div>
                            <div class="card mx-1" style="width: 220px; background-color: #0c0c1e">
                                <img src="https://i.pinimg.com/564x/f2/2e/88/f22e88e9f98b363204e78d8c88661830.jpg"
                                    class="card-img-top" alt="..." style="max-width: 100%; height: 250px;">
                                <div class="card-body" style="color: white ;">
                                    <h5>Batman Arkham</h5>
                                    <p>Tamaño: 5.50 GB</p>
                                    <p>Versió: elamigos</p>
                                    <button
                                        style="position: absolute; bottom: 15px; right: 5px; width: 25px; background-color: #0c0c1e; color: white; border: 1px solid white ;"><i
                                            class="bi bi-caret-right-fill"></i> </button>
                                </div>
                            </div>
                            <div class="card mx-1" style="width: 220px; background-color: #0c0c1e">
                                <img src="https://i.pinimg.com/564x/09/76/de/0976de3959e97d88a07d799fae786864.jpg"
                                    class="card-img-top" alt="..." style="width: 218.3px; height: 246px;">
                                <div class="card-body" style="color: white ;">
                                    <h5>Batman Arkham</h5>
                                    <p>Tamaño: 5.50 GB</p>
                                    <p>Versió: elamigos</p>
                                    <button
                                        style="position: absolute; bottom: 15px; right: 5px; width: 25px; background-color: #0c0c1e; color: white; border: 1px solid white ;"><i
                                            class="bi bi-caret-right-fill"></i> </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="carousel" style="margin-left: -456px;">
                            <div class="card mx-1" style="width: 220px; background-color: #0c0c1e">
                                <img src="https://i.pinimg.com/564x/f2/2e/88/f22e88e9f98b363204e78d8c88661830.jpg"
                                    class="card-img-top" alt="..." style="max-width: 100%; height: 250px;">
                                <div class="card-body" style="color: white ;">
                                    <h5>Batman Arkham</h5>
                                    <p>Tamaño: 5.50 GB</p>
                                    <p>Versió: elamigos</p>
                                    <button
                                        style="position: absolute; bottom: 15px; right: 5px; width: 25px; background-color: #0c0c1e; color: white; border: 1px solid white ;"><i
                                            class="bi bi-caret-right-fill"></i> </button>
                                </div>
                            </div>
                            <div class="card mx-1" style="width: 220px; background-color: #0c0c1e">
                                <img src="https://i.pinimg.com/564x/09/76/de/0976de3959e97d88a07d799fae786864.jpg"
                                    class="card-img-top" alt="..." style="width: 218.3px; height: 246px;">
                                <div class="card-body" style="color: white ;">
                                    <h5>Batman Arkham</h5>
                                    <p>Tamaño: 5.50 GB</p>
                                    <p>Versió: elamigos</p>
                                    <button
                                        style="position: absolute; bottom: 15px; right: 5px; width: 25px; background-color: #0c0c1e; color: white; border: 1px solid white ;"><i
                                            class="bi bi-caret-right-fill"></i> </button>
                                </div>
                            </div>
                            <div class="card mx-1" style="width: 220px; background-color: #0c0c1e">
                                <img src="https://i.pinimg.com/564x/f2/2e/88/f22e88e9f98b363204e78d8c88661830.jpg"
                                    class="card-img-top" alt="..." style="max-width: 100%; height: 250px;">
                                <div class="card-body" style="color: white ;">
                                    <h5>Batman Arkham</h5>
                                    <p>Tamaño: 5.50 GB</p>
                                    <p>Versió: elamigos</p>
                                    <button
                                        style="position: absolute; bottom: 15px; right: 5px; width: 25px; background-color: #0c0c1e; color: white; border: 1px solid white ;"><i
                                            class="bi bi-caret-right-fill"></i> </button>
                                </div>
                            </div>
                            <div class="card mx-1" style="width: 220px; background-color: #0c0c1e">
                                <img src="https://i.pinimg.com/564x/09/76/de/0976de3959e97d88a07d799fae786864.jpg"
                                    class="card-img-top" alt="..." style="width: 218.3px; height: 246px;">
                                <div class="card-body" style="color: white ;">
                                    <h5>Batman Arkham</h5>
                                    <p>Tamaño: 5.50 GB</p>
                                    <p>Versió: elamigos</p>
                                    <button
                                        style="position: absolute; bottom: 15px; right: 5px; width: 25px; background-color: #0c0c1e; color: white; border: 1px solid white ;"><i
                                            class="bi bi-caret-right-fill"></i> </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Añade mas imagenes dentro de una tarjeta al carrusel -->
                </div>
                <!-- Controles de navegación -->
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions3"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions3"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <br>
        <!-- Carrusel 4 -->
        <div class="titulo-tendencias4" style="margin-top: 20px;">
            <h1 style="text-align: center; color: white;">MAFIA</h1>
        </div>
        <div class="corrusel4" style="margin-top: -70px;">
            <div id="carouselExampleCaptions4" class="carousel slide" style="overflow: hidden;">
                <div class="carousel-inner d-flex justify-content-center"
                    style="display: flex; justify-content: center;">
                    <div class="carousel-item active">
                        <div class="carousel" style="margin-left: -456px;">
                            <div class="card mx-1" style="width: 220px; background-color: #0c0c1e">
                                <img src="https://i.pinimg.com/564x/c0/76/77/c07677367fd01041aa19b18d66b7c6b0.jpg"
                                    class="card-img-top" alt="..." style="max-width: 100%; height: 250px;">
                                <div class="card-body" style="color: white ;">
                                    <h5>Batman Arkham</h5>
                                    <p>Tamaño: 5.50 GB</p>
                                    <p>Versió: elamigos</p>
                                    <button
                                        style="position: absolute; bottom: 15px; right: 5px; width: 25px; background-color: #0c0c1e; color: white; border: 1px solid white ;"><i
                                            class="bi bi-caret-right-fill"></i> </button>
                                </div>
                            </div>
                            <div class="card mx-1" style="width: 220px; background-color: #0c0c1e">
                                <img src="https://i.pinimg.com/736x/be/cb/06/becb062e03e200691d829555253197e1.jpg"
                                    class="card-img-top" alt="..." style="width: 218.3px; height: 246px;">
                                <div class="card-body" style="color: white ;">
                                    <h5>Batman Arkham</h5>
                                    <p>Tamaño: 5.50 GB</p>
                                    <p>Versió: elamigos</p>
                                    <button
                                        style="position: absolute; bottom: 15px; right: 5px; width: 25px; background-color: #0c0c1e; color: white; border: 1px solid white ;"><i
                                            class="bi bi-caret-right-fill"></i> </button>
                                </div>
                            </div>
                            <div class="card mx-1" style="width: 220px; background-color: #0c0c1e">
                                <img src="https://i.pinimg.com/564x/c0/76/77/c07677367fd01041aa19b18d66b7c6b0.jpg"
                                    class="card-img-top" alt="..." style="max-width: 100%; height: 250px;">
                                <div class="card-body" style="color: white ;">
                                    <h5>Batman Arkham</h5>
                                    <p>Tamaño: 5.50 GB</p>
                                    <p>Versió: elamigos</p>
                                    <button
                                        style="position: absolute; bottom: 15px; right: 5px; width: 25px; background-color: #0c0c1e; color: white; border: 1px solid white ;"><i
                                            class="bi bi-caret-right-fill"></i> </button>
                                </div>
                            </div>
                            <div class="card mx-1" style="width: 220px; background-color: #0c0c1e">
                                <img src="https://i.pinimg.com/736x/be/cb/06/becb062e03e200691d829555253197e1.jpg"
                                    class="card-img-top" alt="..." style="width: 218.3px; height: 246px;">
                                <div class="card-body" style="color: white ;">
                                    <h5>Batman Arkham</h5>
                                    <p>Tamaño: 5.50 GB</p>
                                    <p>Versió: elamigos</p>
                                    <button
                                        style="position: absolute; bottom: 15px; right: 5px; width: 25px; background-color: #0c0c1e; color: white; border: 1px solid white ;"><i
                                            class="bi bi-caret-right-fill"></i> </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="carousel" style="margin-left: -456px;">
                            <div class="card mx-1" style="width: 220px; background-color: #0c0c1e">
                                <img src="https://i.pinimg.com/564x/f2/2e/88/f22e88e9f98b363204e78d8c88661830.jpg"
                                    class="card-img-top" alt="..." style="max-width: 100%; height: 250px;">
                                <div class="card-body" style="color: white ;">
                                    <h5>Batman Arkham</h5>
                                    <p>Tamaño: 5.50 GB</p>
                                    <p>Versió: elamigos</p>
                                    <button
                                        style="position: absolute; bottom: 15px; right: 5px; width: 25px; background-color: #0c0c1e; color: white; border: 1px solid white ;"><i
                                            class="bi bi-caret-right-fill"></i> </button>
                                </div>
                            </div>
                            <div class="card mx-1" style="width: 220px; background-color: #0c0c1e">
                                <img src="https://i.pinimg.com/564x/09/76/de/0976de3959e97d88a07d799fae786864.jpg"
                                    class="card-img-top" alt="..." style="width: 218.3px; height: 246px;">
                                <div class="card-body" style="color: white ;">
                                    <h5>Batman Arkham</h5>
                                    <p>Tamaño: 5.50 GB</p>
                                    <p>Versió: elamigos</p>
                                    <button
                                        style="position: absolute; bottom: 15px; right: 5px; width: 25px; background-color: #0c0c1e; color: white; border: 1px solid white ;"><i
                                            class="bi bi-caret-right-fill"></i> </button>
                                </div>
                            </div>
                            <div class="card mx-1" style="width: 220px; background-color: #0c0c1e">
                                <img src="https://i.pinimg.com/564x/f2/2e/88/f22e88e9f98b363204e78d8c88661830.jpg"
                                    class="card-img-top" alt="..." style="max-width: 100%; height: 250px;">
                                <div class="card-body" style="color: white ;">
                                    <h5>Batman Arkham</h5>
                                    <p>Tamaño: 5.50 GB</p>
                                    <p>Versió: elamigos</p>
                                    <button
                                        style="position: absolute; bottom: 15px; right: 5px; width: 25px; background-color: #0c0c1e; color: white; border: 1px solid white ;"><i
                                            class="bi bi-caret-right-fill"></i> </button>
                                </div>
                            </div>
                            <div class="card mx-1" style="width: 220px; background-color: #0c0c1e">
                                <img src="https://i.pinimg.com/564x/09/76/de/0976de3959e97d88a07d799fae786864.jpg"
                                    class="card-img-top" alt="..." style="width: 218.3px; height: 246px;">
                                <div class="card-body" style="color: white ;">
                                    <h5>Batman Arkham</h5>
                                    <p>Tamaño: 5.50 GB</p>
                                    <p>Versió: elamigos</p>
                                    <button
                                        style="position: absolute; bottom: 15px; right: 5px; width: 25px; background-color: #0c0c1e; color: white; border: 1px solid white ;"><i
                                            class="bi bi-caret-right-fill"></i> </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="carousel" style="margin-left: -456px;">
                            <div class="card mx-1" style="width: 220px; background-color: #0c0c1e">
                                <img src="https://i.pinimg.com/564x/f2/2e/88/f22e88e9f98b363204e78d8c88661830.jpg"
                                    class="card-img-top" alt="..." style="max-width: 100%; height: 250px;">
                                <div class="card-body" style="color: white ;">
                                    <h5>Batman Arkham</h5>
                                    <p>Tamaño: 5.50 GB</p>
                                    <p>Versió: elamigos</p>
                                    <button
                                        style="position: absolute; bottom: 15px; right: 5px; width: 25px; background-color: #0c0c1e; color: white; border: 1px solid white ;"><i
                                            class="bi bi-caret-right-fill"></i> </button>
                                </div>
                            </div>
                            <div class="card mx-1" style="width: 220px; background-color: #0c0c1e">
                                <img src="https://i.pinimg.com/564x/09/76/de/0976de3959e97d88a07d799fae786864.jpg"
                                    class="card-img-top" alt="..." style="width: 218.3px; height: 246px;">
                                <div class="card-body" style="color: white ;">
                                    <h5>Batman Arkham</h5>
                                    <p>Tamaño: 5.50 GB</p>
                                    <p>Versió: elamigos</p>
                                    <button
                                        style="position: absolute; bottom: 15px; right: 5px; width: 25px; background-color: #0c0c1e; color: white; border: 1px solid white ;"><i
                                            class="bi bi-caret-right-fill"></i> </button>
                                </div>
                            </div>
                            <div class="card mx-1" style="width: 220px; background-color: #0c0c1e">
                                <img src="https://i.pinimg.com/564x/f2/2e/88/f22e88e9f98b363204e78d8c88661830.jpg"
                                    class="card-img-top" alt="..." style="max-width: 100%; height: 250px;">
                                <div class="card-body" style="color: white ;">
                                    <h5>Batman Arkham</h5>
                                    <p>Tamaño: 5.50 GB</p>
                                    <p>Versió: elamigos</p>
                                    <button
                                        style="position: absolute; bottom: 15px; right: 5px; width: 25px; background-color: #0c0c1e; color: white; border: 1px solid white ;"><i
                                            class="bi bi-caret-right-fill"></i> </button>
                                </div>
                            </div>
                            <div class="card mx-1" style="width: 220px; background-color: #0c0c1e">
                                <img src="https://i.pinimg.com/564x/09/76/de/0976de3959e97d88a07d799fae786864.jpg"
                                    class="card-img-top" alt="..." style="width: 218.3px; height: 246px;">
                                <div class="card-body" style="color: white ;">
                                    <h5>Batman Arkham</h5>
                                    <p>Tamaño: 5.50 GB</p>
                                    <p>Versió: elamigos</p>
                                    <button
                                        style="position: absolute; bottom: 15px; right: 5px; width: 25px; background-color: #0c0c1e; color: white; border: 1px solid white ;"><i
                                            class="bi bi-caret-right-fill"></i> </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Añade mas imagenes dentro de una tarjeta al carrusel -->
                </div>
                <!-- Controles de navegación -->
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions4"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions4"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>



    </section>

    <!-- CONTENT -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
