
<body>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">


        <app-nav-gamer></app-nav-gamer>
    <!-- CONTENT -->
    <section id="content">
        <br>

        <!-- Carrusel 1 -->
        <div class="titulo-tendencias4" style="margin-top: 20px;">
            <h1 style="text-align: center; color: white;">JUEGOS</h1>
        </div>
        <div class="corrusel4" style="margin-top: -70px;">
            <div id="carouselExampleCaptions4" class="carousel slide" style="overflow: hidden;">
                <div class="carousel-inner d-flex justify-content-center"
                    style="display: flex; justify-content: center;">
                    <div class="carousel-item active">
                        <div class="carousel" style="margin-left: -456px;">
                            <div class="card mx-1" style="width: 220px; background-color: #0c0c1e"
                                *ngFor="let catalogo of catalogo">
                                <img src="{{catalogo.imagen}}" class="card-img-top" alt="..."
                                    style="max-width: 100%; height: 250px;">
                                <div class="card-body" style="color: white ;">
                                    <h5>{{catalogo.nombre}}</h5>
                                    <p>Tamaño minimo:{{catalogo.minimo}} Tamaño maximo: {{catalogo.maximo}}</p>
                                    <p>Versión: {{catalogo.version_}}</p>
                                    <button
                                        style="position: absolute; bottom: 15px; right: 5px; width: 25px; background-color: #0c0c1e; color: white; border: 1px solid white ;"><i
                                            class="bi bi-caret-right-fill"></i> </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="carousel" style="margin-left: -456px;">
                            <div class="card mx-1" style="width: 220px; background-color: #0c0c1e"
                                *ngFor="let catalogo of catalogo">
                                <img src="{{catalogo.imagen}}" class="card-img-top" alt="..."
                                    style="max-width: 100%; height: 250px;">
                                <div class="card-body" style="color: white ;">
                                    <h5>{{catalogo.nombre}}</h5>
                                    <p>Tamaño minimo:{{catalogo.minimo}} Tamaño maximo: {{catalogo.maximo}}</p>
                                    <p>Versión: {{catalogo.verion_}}</p>
                                    <button
                                        style="position: absolute; bottom: 15px; right: 5px; width: 25px; background-color: #0c0c1e; color: white; border: 1px solid white ;"><i
                                            class="bi bi-caret-right-fill"></i> </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Controles de navegación -->
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions4"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions4"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <br>
        <!-- Carrusel 2 -->
        <div class="titulo-tendencias2" style="margin-top: 20px;">
            <h1 style="text-align: center; color: white;">MISTERIO</h1>
        </div>
        <div class="corrusel2" style="margin-top: -70px;">
            <div id="carouselExampleCaptions2" class="carousel slide" style="overflow: hidden;">
                <div class="carousel-inner d-flex justify-content-center"
                    style="display: flex; justify-content: center;">
                    <div class="carousel-item active">
                        <div class="carousel" style="margin-left: -456px;">
                            <div class="card mx-1" style="width: 220px; background-color: #0c0c1e"
                                *ngFor="let misterios of misterios">
                                <img src="{{misterios.imagen}}" class="card-img-top" alt="..."
                                    style="max-width: 100%; height: 250px;">
                                <div class="card-body" style="color: white ;">
                                    <h5>{{misterios.nombre}}</h5>
                                    <p>Tamaño mínimo: {{misterios.minimo}} Tamaño máximo: {{misterios.maximo}}</p>
                                    <p>Versió: {{misterios.version_}}</p>
                                    <button
                                        style="position: absolute; bottom: 15px; right: 5px; width: 25px; background-color: #0c0c1e; color: white; border: 1px solid white ;"><i
                                            class="bi bi-caret-right-fill"></i> </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--segunda parte del carrusel para mostrar mas datos y pueda funcionar-->
                    <div class="carousel-item active">
                        <div class="carousel" style="margin-left: -456px;">
                            <div class="card mx-1" style="width: 220px; background-color: #0c0c1e"
                                *ngFor="let misterios of misterios">
                                <img src="{{misterios.imagen}}" class="card-img-top" alt="..."
                                    style="max-width: 100%; height: 250px;">
                                <div class="card-body" style="color: white ;">
                                    <h5>{{misterios.nombre}}</h5>
                                    <p>Tamaño mínimo: {{misterios.minimo}} Tamaño máximo: {{misterios.maximo}}</p>
                                    <p>Versió: {{misterios.version_}}</p>
                                    <button
                                        style="position: absolute; bottom: 15px; right: 5px; width: 25px; background-color: #0c0c1e; color: white; border: 1px solid white ;"><i
                                            class="bi bi-caret-right-fill"></i> </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Controles de navegación -->
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions2"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions2"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <br>
        <!-- Carrusel 3 -->
        <div class="titulo-tendencias3" style="margin-top: 20px;">
            <h1 style="text-align: center; color: white;">AVENTURA</h1>
        </div>
        <div class="corrusel3" style="margin-top: -70px;">
            <div id="carouselExampleCaptions3" class="carousel slide" style="overflow: hidden;">
                <div class="carousel-inner d-flex justify-content-center"
                    style="display: flex; justify-content: center;">
                    <div class="carousel-item active">
                        <div class="carousel" style="margin-left: -456px;">
                            <div class="card mx-1" style="width: 220px; background-color: #0c0c1e"
                                *ngFor="let aventura of aventura">
                                <img src="{{aventura.imagen}}" class="card-img-top" alt="..."
                                    style="max-width: 100%; height: 250px;">
                                <div class="card-body" style="color: white ;">
                                    <h5>{{aventura.nombre}}</h5>
                                    <p>Tamaño mínimo: {{aventura.minimo}} Tamaño máximo: {{aventura.maximo}}</p>
                                    <p>Versió: {{aventura.verion_}}</p>
                                    <button
                                        style="position: absolute; bottom: 15px; right: 5px; width: 25px; background-color: #0c0c1e; color: white; border: 1px solid white ;"><i
                                            class="bi bi-caret-right-fill"></i> </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item active">
                        <div class="carousel" style="margin-left: -456px;">
                            <div class="card mx-1" style="width: 220px; background-color: #0c0c1e"
                                *ngFor="let aventura of aventura">
                                <img src="{{aventura.imagen}}" class="card-img-top" alt="..."
                                    style="max-width: 100%; height: 250px;">
                                <div class="card-body" style="color: white ;">
                                    <h5>{{aventura.nombre}}</h5>
                                    <p>Tamaño mínimo: {{aventura.minimo}} Tamaño máximo: {{aventura.maximo}}</p>
                                    <p>Versió: {{aventura.verion_}}</p>
                                    <button
                                        style="position: absolute; bottom: 15px; right: 5px; width: 25px; background-color: #0c0c1e; color: white; border: 1px solid white ;"><i
                                            class="bi bi-caret-right-fill"></i> </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Controles de navegación -->
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions3"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions3"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <br>
        <!-- Carrusel 4 - accion no trae datos del back revisar -->
        <div class="titulo-tendencias4" style="margin-top: 20px;">
            <h1 style="text-align: center; color: white;">ACCIÓN</h1>
        </div>
        <div class="corrusel3" style="margin-top: -70px;">
            <div id="carouselExampleCaptions3" class="carousel slide" style="overflow: hidden;">
                <div class="carousel-inner d-flex justify-content-center"
                    style="display: flex; justify-content: center;">
                    <div class="carousel-item active">
                        <div class="carousel" style="margin-left: -456px;">
                            <div class="card mx-1" style="width: 220px; background-color: #0c0c1e"
                                *ngFor="let accion of accion">
                                <img src="{{accion.imagen}}" class="card-img-top" alt="..."
                                    style="max-width: 100%; height: 250px;">
                                <div class="card-body" style="color: white ;">
                                    <h5>{{accion.nombre}}</h5>
                                    <p>Tamaño mínimo: {{accion.minimo}} Tamaño máximo: {{accion.maximo}}</p>
                                    <p>Versió: {{accion.verion_}}</p>
                                    <button
                                        style="position: absolute; bottom: 15px; right: 5px; width: 25px; background-color: #0c0c1e; color: white; border: 1px solid white ;"><i
                                            class="bi bi-caret-right-fill"></i> </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Controles de navegación -->
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions4"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions4"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <br>



    </section>

    <!-- CONTENT -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>